<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <targets>
    <target xsi:type="AsyncWrapper" name="asyncDB">
      <target xsi:type="Database" name="InfoDatabase"
              connectionStringName="NLog"
              commandText="exec LogAPICall @endPoint, @requestBody, @responseCode, @responseBody, @invokationTimeStamp, @responseTimeStamp">
        <parameter name="@endPoint" layout="${gdc:endPoint}"/>
        <parameter name="@requestBody" layout="${gdc:requestBody}"/>
        <parameter name ="@responseCode" layout="${gdc:responseCode}"/>
        <parameter name ="@responseBody" layout="${gdc:responseBody}"/>
        <parameter name ="@invokationTimeStamp" layout="${date:universalTime=true:format=s}"/>
        <parameter name ="@responseTimeStamp" layout="${date:universalTime=true:format=s}"/>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="DatabaseLogger" minlevel="Trace" maxlevel="Info" writeTo="InfoDatabase"/>
  </rules>
</nlog>
